  a { text-decoration: none; color: #000; background-color: #FFF; } 
  a[href]:hover { color: #000; background-color: #F9FAD4; } 
  a.url { font-family: "Courier New", Courier, monospace; font-size: 80%; } 
  a.ref, span.ref { font-weight: bold; }
  span.termRef::before { font-weight: bold; content: "·"; } 
  span.termRef::after { font-weight:bold; content: "·"; } 
  code { font-size: 16px; }
  img { display:table; margin-left:auto; margin-right:auto; }
  figcaption { text-align:center; font-style:italic; margin-bottom:10pt; }
  h1,h2,h3 { margin-top:18pt; }
